.sidebarWrapper {
    -ms-flex: 0 0 255px;
    flex: 0 0 255px;
    background-color: $sidebar-bg;
}

@media (max-width: 767.98px) {
    .sidebarWrapper {
        -ms-flex: 0 0 220px;
        flex: 0 0 220px;
    }
}

@media (max-width: 575.98px) {
    .sidebarWrapper {
        -ms-flex: 0 0 80px;
        flex: 0 0 80px;
    }
}

.contentWrapper {
    
}