.sidebarTop {
    background-color: $sidebar-top-bg;
    min-height: 80px;
    max-height: 80px;
    height: 80px;
    padding: 23px 31px 23px 31px;

    a {
        .logo {
            width: 34px;
            height: auto;
        }

        .brandName {
            font-family: $main-font-family;
            font-size: 19px;
            font-weight: 700;
            margin-left: 11px;
            padding-top: 4px;
        }
    }

}

.sidebarMenu {
    ul {
        li {
            min-height: 56px;
            max-height: 56px;
            height: 56px;
            padding: 21px 32px;

            svg {
                width: 16px;
                height: 16px;
                fill: $sidebar-icon-color;

                @media (max-width: 575.98px) {
                    transform:scale(2.0); 
                    -webkit-transform:scale(2.0); 
                    -moz-transform:scale(2.0); 
                    -ms-transform:scale(2.0); 
                    -o-transform:scale(2.0);
                }
            }

            span {
                font-family: $main-font-family;
                font-weight: 400;
                font-size: 16px;
                margin-left: 24px;
                color: $sidebar-item-color;
            }
        }
    }
}